@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

/*====================================================*/
/*====================================================*/
html{
  background-color: #F0F8FF;
}

/*====================================================*/
/* =============CENTRALIZING THE CONTAINER============ */
.container{
  display: flex;
  justify-content: center;
  margin-top: 50.2px;
}

.card{
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 3px 5px 5px #888888;
  display: block;
  margin-left: -4em;
  margin-top: 10vh;
  min-width: 50%;
  height: 66vh;
  background-image: linear-gradient(45deg, #000000, #363636, #696969, #000000);
  background-size: 500% 110%;
  animation: degrade-animado 3s infinite alternate;
}

.lyrics{
  display: block;
  width: 100%;
  height: 100%
}

h1{
  color: #DAA520;
  font-weight: 500;
  font-size: 12vh;
  font-family: 'Quicksand', serif;
  margin-top: 50px;
  text-shadow: #A9A9A9 1px 3px 2px;
  text-align: center;
}

h5{
  color: #DAA520;
  font-weight: 500;
  font-size: 2.8vh;
  font-family: 'Quicksand', serif;
  margin-left: -1vh;
  margin-top: 15px;
  min-width: 30vw;
  max-width: 50vw;
  padding: 1px;
  text-shadow: #A9A9A9 2px 3px 3px;
  text-align: center;
}

h6{
  color: #DAA520;
  font-weight: 500;
  font-size: 3.5vh;
  font-family: 'Quicksand', serif;
  margin-left: -1vh;
  margin-top: 16px;
  min-width: 30vw;
  max-width: 50vw;
  padding: 1px;
  text-shadow: #A9A9A9 2px 3px 3px;
  text-align: center;
}

/*KEYFRAME*/
@keyframes degrade-animado{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 100%;
  }
}

/*==============================================*/
/*==============================================*/
@media (max-width: 321px) and (max-width: 1366px){

  .container{
    display: flex;
    justify-content: center;
  }

  .card{
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 1px 8px 1px #888888;
    display: block;
    margin-left: 1px;
    margin-top: -40px;
    width: 95%;
    height: 98%;
  }

  .lyrics{
    text-align: center;
    display: block;
    margin-top: 70px;
    width: 90%;
    height: 84vh;
  }

  h1{
    color: #DAA520;
    display: flex;
    font-weight: 500;
    font-size: 12vh;
    font-family: 'Quicksand', serif;
    margin-left: 7vw;
    margin-top: 20vw;
    text-align: center;
  }

  h5{
    display: inline-block;
    color: #DAA520;
    font-weight: 500;
    font-size: 4.2vw;
    font-family: 'Quicksand', serif;
    margin-left: 4vh;
    margin-top: 15px;
    min-width: 30vw;
    max-width: 50vw;
    padding: 2px;
    text-shadow: #A9A9A9 2px 3px 3px;
    text-align: center;
  }


  span{
    display: inline-block;
    align-items: center;
    font-size: 4.5vw;
    margin-left: -15vw;
  }

  h6{
    display: inline-block;
    color: #DAA520;
    font-weight: 500;
    font-size: 5.8vw;
    font-family: 'Quicksand', serif;
    margin-left: 1.9vh;
    margin-top: 45px;
    padding: 1px;
    text-shadow: #A9A9A9 2px 3px 3px;
    text-align: center;
  }

}

/*==============================================*/
/*==============================================*/
@media (min-heigth: 550px) {

  .container{
    display: flex;
    justify-content: center;
  }

  .card{
    border-radius: 5px;
    box-shadow: 3px 1px 8px 1px #888888;
    display: block;
    margin-left: 5px;
    margin-top: -20vh;
    width: 80%;
    height: 100% auto;
  }

  .lyrics h1{
    align-items: center;
    color: #DAA520;
    display: block;
    font-weight: 500;
    font-size: 12vh;
    font-family: 'Quicksand', serif;
    margin-left: 1px;
    margin-top: 0.7em;
    padding: 1px;
    text-align: center;
  }

}
