*{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

/* ===HTML BACKGROUND=== */
html{
  background-color: #F0F8FF;
}


/* ===CENTRALIZING THE CONTAINER=== */
.container{
  display: flex;
  justify-content: center;
}

.card{
  border-radius: 15px;
  box-shadow: 3px 3px 5px 3px #888888;
  display: flex;
  margin-top: -5px; /*teste*/
  width: /*100%;*/ 136vh;
  height: /*-450px;*/ 56vh;
  background-image: linear-gradient(45deg, #000000, #363636, #696969, #000000);
  background-size: 500% 110%;
  animation: degrade-animado 3s infinite alternate;
}

h1{
  align-items: center;
  margin-left: 50px;
}

h6{
  align-items: center;
  margin-top: 40px;
  margin-left: 55px;
}

.line1{
  width: 843px;
  height: 1px;
  background-color: #DAA520;
  margin-left: 261px;
  margin-top: 150px;
  position: relative;
}

.line2{
  width: 589px;
  height: 1px;
  background-color: #DAA520;
  margin-left: 261px;
  margin-top: 10px;
  position: absolute;
}

.card .line3{
  width: 540px;
  height: 1px;
  background-color: #DAA520;
  margin-left: ;
  margin-top: 11px;
  position: absolute;
}

.card .line4{
  width: 841px;
  height: 1px;
  background-color: #DAA520;
  margin-left: 5px;
  margin-top: 17px;
  position: absolute;
}

.lyrics h1{
  color: #DAA520;
  font-weight: 500;
  font-size: 60px;
  font-family: 'Quicksand', serif;
  margin-top: 75px;
  text-shadow: #A9A9A9 2px 3px 3px;
  text-align: center;
}

.lyrics h6{
  color: #DAA520;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Quicksand', serif;
  text-shadow: #A9A9A9 2px 3px 3px;
  text-align: center;
}

.site{
  margin-left: -50px;
  margin-top: -42px;
  text-align: -90px;
}


@keyframes degrade-animado{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 100%;
  }
}
